body {
  background-color: #252627;
}

.control {
  .tit {
    &:before {
      background-image: url(./setup.svg);
    }
  }
}

.app-monitor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 34px;
  overflow: auto;
}
