.page-project {
  .app-switch {
    padding-top: 30px;
  }

  .form-table {
    padding: 15px 20px;
  }

  .form-item {
    font-size: 14px;
    margin-bottom: 15px;

    .label {
      color: #b3b5c3;
      font-weight: 600;
      margin-bottom: 8px;
      font-size: 13px;
    }
  }
}