@import "./reset.scss";

@font-face {
  font-family: 'halofont';
  src: url('../font/halo.ttf') format('truetype');
}

body {
  .logo {
    height: 80px;
    width: 80px;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% auto;
    margin: 30px auto;
  }

  h1 {
    font-family: 'halofont' !important;
    font-size: 32px;
    line-height: 2;
    text-align: center;
  }
}