@mixin overflow-scrollbar($width, $radius, $thumbBg, $trackBg) {
  overflow: auto;

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbBg;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: $trackBg;
  }
}
