.app-work-station {
  position: absolute;
  left: 64px;
  top: 0;
  bottom: 0;
  right: 0;

  .app-panel {
    -webkit-app-region: no-drag;
    position: absolute;
    left: 0;
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fbfbfd;
    overflow: auto;
  }

  .app-monitor {
    -webkit-app-region: no-drag;
    position: absolute;
    left: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #090819;
    overflow: hidden;
  }

  &.hide-monitor {
    .app-panel {
      width: auto;
    }

    .app-monitor {
      z-index: -1;
    }
  }

  .app-state-bar {
    -webkit-app-region: drag;
    position: absolute;
    height: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    background-color: #4347ff;
    color: #fff;
    line-height: 24px;
    padding: 0 10px;
    display: flex;

    &.running {
      background-color: #961696;
    }

    &.success {
      background-color: #03aa6e;
    }

    &.warn {
      background-color: #e4a82a;
    }

    &.error {
      background-color: #ff5c57;
    }

    .control {
      flex-grow: 1;
    }
  }

  .app-freeze-mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 464px;
  }

  .app-header-wrap {
    -webkit-app-region: drag;
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    right: 0;
  }

  .app-switch {
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
    font-size: 13px;

    .item-btn {
      padding: 8px 20px;
      background-color: #fff;
      border: 1px solid #4347ff;
      color: #4347ff;
      cursor: pointer;
      transition: all .3s;

      &.active {
        color: #fff;
        background-color: #4347ff;
        box-shadow: 0 6px 12px -4px rgb(156, 166, 252);
      }

      & + .item-btn {
        border-left-width: 0;
      }

      &:first-child {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  .app-switch-wrap-fixed {
    height: 57px;

    .app-switch {
      position: fixed;
      top: 0;
      left: 64px;
      right: 4px;
      padding: 10px 0;
    }
  }
}
