.app-terminal {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 464px;
  right: 0;
  padding: 30px 15px 24px;
  background-color: #1d2028;
  color: #b2b3b6;

  .panel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }

  .terminal {
    width: 100%;
    height: 100%;
  }
}
