@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.page-scan {
  position: relative;

  .title {
    padding: 20px 15px 10px;
    font-size: 16px;
    font-weight: 600;

    .sub {
      font-size: 14px;
      color: #b1b3c2;
    }
  }

  .dashboard {
    padding: 0 15px;

    .current-version {
      color: #b1b3c2;
    }

    .scan-btn {
      padding: 14px 0;
      color: #fff;
      background-color: #4347ff;
      margin: 20px auto;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      width: 320px;
      transition: all .3s;
      text-align: center;
      position: relative;

      &:hover {
        box-shadow: 0 2px 12px -2px rgba(44, 48, 255, .432);
      }

      $width: 30px;

      .loader {
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -15px;
        width: $width;

        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }
      }

      .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #fff;
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }

        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }

        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
        }
      }

      body {
        background-color: #fff;
      }

      .showbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5%;
      }
    }

    .support-list {
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;

        i {
          height: 32px;
          width: 32px;
          margin-right: 10px;
          background: url(../../assets/img/node.svg) no-repeat center center;
          background-size: 100% auto;

          &.env-npm {
            background-image: url(../../assets/img/npm.svg);
          }

          &.env-yarn {
            background-image: url(../../assets/img/yarn.svg);
          }

          &.env-python {
            background-image: url(../../assets/img/python.svg);
          }

          &.env-vue {
            background-image: url(../../assets/img/vue.svg);
          }
        }

        .env-name {
          width: 100px;
        }

        .env-version {
          width: 160px;
        }

        .env-status {
          flex-grow: 1;
          text-align: center;
          font-size: 12px;

          button {
            padding: 5px 10px;
            background-color: #04aa6f;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;

            &.done {
              background-color: #dcdff0;
              color: #71769a;
            }
          }
        }
      }
    }
  }
}
