html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-app-region: drag;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Avenir, Tahoma, Arial, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, "Microsoft Sans Serif", WenQuanYi Micro Hei, Helvetica, "sans-serif";
}

button,
a,
input,
textarea {
  // https://electronjs.org/docs/api/frameless-window
  -webkit-app-region: no-drag;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(220, 225, 233);
  border-radius: 2px;
}

*::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
