.sub-page-runner {
  .form-table {
    padding-top: 0;

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      color: #484950;
      display: flex;

      .bundle-name {
        flex-grow: 1;
      }

      .dir-name {
        position: relative;

        .sub {
          font-size: 10px;
          padding: 1px 10px;
          background-color: #dee0ea;
          border-radius: 8px;
          margin-left: 5px;

          &.with-color {
            color: #fff;
            background-color: #ccd3ff;
          }
        }
      }
    }
  }

  .command-table {
    background-color: #fff;
    font-size: 12px;
    border-radius: 8px;
    border: .5px solid #e9ebf2;
    box-shadow: 0 2px 6px -2px rgba(85, 85, 150, .16);

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px 8px 15px;

      & + .row {
        border-top: .5px solid #e9ebf2;
      }

      .desc {
        color: #484950;

        i {
          font-size: 16px;
          vertical-align: middle;
          margin: -2px 5px 0 0;
        }
      }

      .control {
        padding: 4px;
        margin: 3px 0;
        border-radius: 14px;
        background-color: #e9ebf2;
      }

      .btn-default {
        padding: 0;
        border-radius: 10px;
        width: 28px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;

        i.iconfont {
          font-size: 10px;
        }

        & + .btn-default {
          margin-left: 6px;
        }

        &.btn-kill {
          background-color: rgb(255, 81, 0);

          &:hover {
            box-shadow: 0 2px 8px -1px rgba(255, 72, 72, .432);
          }
        }
      }
    }
  }

  .page-item {
    line-height: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .name-title {
      flex-grow: 1;
      width: calc(100% - 46px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: keep-all;
      font-size: 13px;
    }

    span {
      font-size: 12px;
      margin-left: 5px;
    }

    & + .page-item {
      border-top: .5px dotted #e9ebf2;
    }
  }

  .project-control {
    font-size: 14px;

    label {
      margin-left: 5px;
    }

    i {
      color: #696b75;
      margin-right: 8px;

      &:hover {
        color: #4347ff;
      }
    }
  }
}
