@mixin overflow-scrollbar($width, $radius, $thumbBg, $trackBg) {
  overflow: auto;

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbBg;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: $trackBg;
  }
}

.app-work-station {
  position: absolute;
  left: 64px;
  top: 0;
  bottom: 0;
  right: 0;

  .app-panel {
    -webkit-app-region: no-drag;
    position: absolute;
    left: 0;
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fbfbfd;

    @include overflow-scrollbar(6px, 3px, #b7b7b7, #fff);

    .btn-default,
    .btn-large {
      padding: 6px 10px;
      color: #fff;
      background-color: #4347ff;
      border-radius: 4px;
      cursor: pointer;
      transition: all .3s;
      text-align: center;
      display: inline-block;
      position: relative;
    }

    .btn-default {
      &:hover {
        box-shadow: 0 2px 8px -1px rgba(44, 48, 255, .432);
      }
    }

    .btn-large {
      display: block;
      font-size: 14px;
      padding: 14px 20px;
      border-radius: 6px;

      &:hover {
        box-shadow: 0 2px 12px -2px rgba(44, 48, 255, .432);
      }

      $width: 30px;

      .loader {
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -15px;
        width: $width;

        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }
      }

      .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #fff;
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }

        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }

        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
        }
      }
    }
  }

  .app-monitor {
    -webkit-app-region: no-drag;
    position: absolute;
    left: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #090819;
    overflow: hidden;
  }

  &.hide-monitor {
    .app-panel {
      width: auto;
    }

    .app-monitor {
      z-index: -1;
    }
  }

  .app-state-bar {
    -webkit-app-region: drag;
    position: absolute;
    height: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    background-color: #4347ff;
    color: #fff;
    line-height: 24px;
    padding: 0 10px;

    &.success {
      background-color: #03aa6e;
    }

    &.warn {
      background-color: #e4a82a;
    }

    &.error {
      background-color: #ff5c57;
    }
  }

  .app-freeze-mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 464px;
  }

  .app-header-wrap {
    -webkit-app-region: drag;
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    right: 0;
  }

  .app-switch {
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
    font-size: 13px;

    .item-btn {
      padding: 8px 20px;
      background-color: #fff;
      border: 1px solid #4347ff;
      color: #4347ff;
      cursor: pointer;
      transition: all .3s;

      &.active {
        color: #fff;
        background-color: #4347ff;
        box-shadow: 0 6px 12px -4px rgb(156, 166, 252);
      }

      & + .item-btn {
        border-left: 0;
      }

      &:first-child {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
}
