@import './reset.scss';

body {
  color: #23263f;
  background-color: #edeff8;
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-tooltip {
  font-size: 12px;
}

.ant-select-selection,
.ant-input {
  border-color: #e9ebf2;
  box-shadow: 0 2px 6px -2px rgba(85, 85, 150, .16);
}

.ant-select-lg,
.ant-input-lg {
  font-size: 14px;
}

.ant-input-group-lg .ant-input {
  font-size: 14px;
}

.ant-modal-header,
.ant-modal-footer {
  border: none;
}

.btn-default,
.btn-large {
  padding: 6px 10px;
  color: #fff;
  background-color: #4347ff;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
  text-align: center;
  display: inline-block;
  position: relative;
}

.btn-default {
  &:hover {
    box-shadow: 0 2px 8px -1px rgba(44, 48, 255, .432);
  }
}

.btn-large {
  display: block;
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 6px;

  &:hover {
    box-shadow: 0 2px 12px -2px rgba(44, 48, 255, .432);
  }

  $width: 30px;

  .loader {
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -15px;
    width: $width;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #fff;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
}

.app-switch {
  display: flex;
  justify-content: center;
  padding: 0 0 10px;
  font-size: 13px;

  .item-btn {
    padding: 8px 20px;
    background-color: #fff;
    border: 1px solid #4347ff;
    color: #4347ff;
    cursor: pointer;
    transition: all .3s;

    &.active {
      color: #fff;
      background-color: #4347ff;
      box-shadow: 0 6px 12px -4px rgb(156, 166, 252);
    }

    & + .item-btn {
      border-left-width: 0;
    }

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.app-switch-wrap-fixed {
  height: 57px;

  .app-switch {
    position: fixed;
    top: 0;
    left: 64px;
    right: 4px;
    padding: 10px 0;
  }
}

.hide {
  display: none;
}

.no-result {
  width: 160px;
  height: 160px;
  background: url(../img/noresult.svg) no-repeat center center;
  background-size: 100% auto;
  margin: 20px auto 40px;
  position: relative;

  &:after {
    width: 400px;
    content: attr(data-info);
    display: block;
    text-align: center;
    left: -120px;
    bottom: -20px;
    position: absolute;
    font-size: 14px;
    color: #989aa7;
  }
}
