.sub-page-create {
  .create-btn {
    margin: 30px 0;
  }

  .install-packages {
    .label {
      margin-right: 10px;
    }
  }

  .tips {
    margin: 5px 0;

    span {
      color: #b1b3c2;
    }

    .env-set-btn {
      margin-left: 10px;
      background-color: #1890ff;

      &:hover {
        box-shadow: 0 2px 8px -1px rgba(44, 118, 255, 0.432);
      }
    }
  }
}
