body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: #f4f4f4 url(./logo.svg) no-repeat center center;
  background-size: 80px;
  border-radius: 6px;
}

.am-picker-popup-wrap {
  overflow: hidden;
}

.app-webview-container {
  position: relative;

  .load-status-bar {
    color: #333;
    text-align: center;
    line-height: 40px;
    height: 40px;

    .am-icon {
      vertical-align: middle;
      margin-top: -3px;
    }

    .label {
      margin: 2px 0 0 10px;
    }
  }

  .state-bar {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;

    .wifi,
    .battery {
      height: 100%;
      width: 120px;
    }

    .wifi {
      background: url(./wi-fi.png) no-repeat left center;
      background-size: auto 10px;
    }

    .battery {
      background: url(./battery.png) no-repeat right center;
      background-size: auto 10px;
    }

    .time-center {
      height: 100%;
      flex-grow: 1;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.app-webview {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  transition: all .3s;

  &.loading {
    transform: translateY(40px);
  }

  .app-webview-wrapper {
    width: 500vw;
    height: 100%;
    display: flex;
    transition: transform linear .3s;
  }
}

.am-toast.am-toast-mask {
  top: 40px;
  height: calc(100% - 80px);
}

.panel,
.portal {
  background-color: #1f2126;
  border-top: none;
  border-bottom: none;
}

.portal {
  .ipt {
    input {
      background-color: #2b2b2d;
      color: #fff;
    }
  }
}

.app-footer {
  .portal {
    transform: translateY(40px);
    transition: all .3s;

    &.show {
      transform: translateY(0);
    }
  }
}

.btn {
  color: #abaab3;

  &.active {
    color: #ff8350;
    text-shadow: 0 0 5px #ff4c027a;
  }

  &.disabled {
    color: #33363b;
  }

  &:not(.active):not(.disabled):hover {
    color: #fff;
  }
}

.spinner {
  .path {
    stroke: #fff;
  }
}

.hidden-element {
  display: none;
}

.cheetah-header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 29px 0 9px;
  line-height: 22px;
  background-color: #fff;
  position: relative;

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .icon {
    height: 22px;
    width: 22px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      outline: none;
      border: none;
    }
  }

  .middle-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;

    .icon {
      display: inline-block;
      margin: -2px 5px 0 0;
      vertical-align: middle;
    }
  }

  .cell {
    & + .cell {
      padding-left: 5px;

      .icon {
        padding-left: 5px;
      }
    }
  }

  .left-menus,
  .right-menus {
    padding: 9px 5px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;

    .cell {
      display: flex;
      align-items: center;

      &.disabled {
        cursor: default;
        filter: grayscale(100%) brightness(3);
      }
    }
  }

  .right-menus {
    left: auto;
    right: 0;
  }

  .txt {
    padding: 0 5px;
  }
}
