.app-webview {
  overflow: hidden;
  position: relative;

  .app-webview-wrapper {
    width: 500vw;
    height: 100%;
    display: flex;
    transition: transform linear .3s;
  }
}

.app-footer {
  .portal {
    transform: translateY(40px);
    transition: all 0.3s;

    &.show {
      transform: translateY(0);
    }
  }
}

.am-toast.am-toast-mask {
  top: 40px;
  height: calc(100% - 80px);
}
